@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.google.com/specimen/Kumbh+Sans');

@layer base {
    :root {
        --very-dark-blue: #1d2025;
        --dark-grayish-blue: #68707d;
        --grayish-blue: #b6bcc8;
        --light-grayish-blue: #f7f8fd;
        --white: #ffffff;
        --black: #000000;
    }
}

* {
    @apply m-0 p-0 box-border leading-none text-dark-grayish-blue;
    font-family: 'Kumbh Sans', sans-serif;
}

html,
body {
    @apply w-full h-full min-h-screen;
}